$max-width: 1200px;
$gutter: 20px;
$font-main: "Times New Roman", serif;
$font-header:"Roboto Mono", monospace;

$black: #000;
$darkgrey: #999;
$lightgrey: #ccc;
$green: #2d2;
$darkgreen: #1a1;

$base:16px;
$medium:32px;
