$max-width: 1200px;
$gutter: 20px;
$font-main: 'Times New Roman', serif;
$font-header:'Roboto Mono', monospace;

$black: #000;
$darkgrey: #999;
$grey: #aaa;
$lightgrey: #ccc;
$green: #2d2;
$darkgreen: #1a1;
$cream: #fcffd2;
$maroon: #cc9694;

$base:16px;
$small:24px;
$medium:32px;
$large:48;
