header {
    display: flex;
    height: 40vh;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;

    .h__container {
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgba(255,255,255,0.4);
        width: 100%;
        height: 100%;

            .h__f1 {
            display: block;
            text-transform: uppercase;
            font-family: $font-header;
            position: relative;
  
            }
            .h__f2 {
            
            display: block;
            text-align: center;
            font-family: $font-header;
        }

    }
}
.lectures {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:$gutter;
    margin: auto;
    margin-bottom: 3em;

    .lecture__page{
        border: 2px solid black;
        height: 300px;
        margin-top:$gutter;
    }
}  
  

.valmynd {
    display: flex;
    margin: $gutter 12em $gutter 12em;
    justify-content: center;

    .valmynd__takkar {
        .valm__html, .valm__css, .valm__js {
            padding: $gutter*0.5;
            background:$lightgrey;
            border-radius: 10px;
            font-family: $font-header;
            font-weight: bold;
        }
        .valm__html:hover , .valm__css:hover , .valm__js:hover {
            background-color: $darkgrey;
            transition: 0.5s ease;
        }
    }
}

@media(max-width:600px){
    .valmynd{
        margin: auto;
    }

    
}