.lecture-header {
	display: flex;
	height: 50vh;
	background-repeat: no-repeat;
	background-size: 100%;
	justify-content: center;
	.header__content {
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		background-color: rgba(31, 18, 18, 0.4);
		width: 100%;
        height: 100%;
        
		h1 {
			display: block;
			//text-transform: uppercase;
			font-family: $font-header;
			position: relative;
            z-index: 1;
		}
		h3 {
			display: block;
			text-align: center;
			font-family: $font-header;
            z-index: 1;
        }
    
    }
}
main{
display: grid;
max-width: $max-width;
grid-template-columns: 1fr 1fr 1fr;
column-gap:$gutter;

margin: auto;
margin-bottom: 3em;

    .lecture {
       display: flex;
       flex-direction: column;
       align-items: center; 
        .lecture__video {
            position: relative;
            max-width: 100%;
            height: 60vh;  // laga í media? birtist ekki alveg rétt
            padding-bottom: 56.25%;
            overflow: hidden;
        
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .lecture__image {
            display: flex;
            flex-direction: column;
            margin-bottom: $gutter;
        }
        p {
            margin-bottom: $gutter;
        }
        code {
            margin-bottom: $gutter;
        }
        blockquote {
            background-color: $lightgrey;
            
            padding: $gutter;
        }
            
        }
}

.lecture-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;

    .button__klarad {
        background-color: transparent;
        border-color: transparent;
        margin-bottom: $gutter;
    }

    .button__back {
        text-align: center;
        color: $black;
        text-decoration-line: unset;
    }
}


	/*.lecture {
    max-width: $max-width;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}*/
